<div class="container-fluid bg-black text-white vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="header mb-5">
        <h1 class="program-text">Programs</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4" >
            <div class="program-card text-center" id="football" routerLink="/football">
            <h3>Football</h3>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="program-card text-center" id="basketball" routerLink="/basketball">
                <h3>Basketball</h3>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="program-card text-center" id="other" >
                <h3>Other</h3>
            </div>
        </div>
    </div>
</div>
