<div class="container-fluid text-white vh-100 text-center d-flex flex-column justify-content-center align-items-center" id="gradient">
    <div class="header mb-5">
        <h1 class="vision-text">vision</h1>
    </div>
   <h3 >"Empowering the Next Generation of Champions"
</h3> 
</div>
<div class="container-fluid text-black vh-100 text-center d-flex flex-column justify-content-center align-items-center bg-image">
    <div class="text-container" >

    At Apex Prime Sports, we envision a future where every aspiring <br> athlete has the opportunity to reach their full potential. 
<br> <br>
    Our mission is to cultivate the talents of the youth and pave <br> the way for their success in the competitive world of sports. <br> Through dedicated training, mentorship, and unwavering <br> support, we aim to foster a community of athletes who excel both on and off the field. 
    <br> <br>
    Join us as we embark on a journey to redefine sports <br> excellence and inspire greatness in every individual."
</div>
</div>
