
.vision-text {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Black Ops One", system-ui;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: bold;
}
h3{
    text-transform: uppercase;
color: black;
    font-size: 30px;
    font-weight: bold;

    padding: 10px 20px;

}
.header{
    margin-top:200px;
}
#gradient{
    background-image: linear-gradient(to bottom, black, white);
}
.bg-image {
    background-image: url('../../assets/run.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.text-container {
    max-width: 90%; /* Adjust the max-width as needed */
    font-family: "Bayon", sans-serif;
line-height: 1.5;
font-size: 30px;
  }
  @media (max-width: 550px) {
.text-container{
    font-size: 24px;

    
}  
h3{
    font-size: 24px;

}
}