<div class="container-fluid bg-black text-white text-center vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="logo-container mt-5">
        <img src="../../assets/logo.png" alt="Logo" class="img-fluid">
    </div>
    <div class="row text-container mt-4 ">
    <h1>FOOTBALL</h1>
    </div>
  <a href="">  <div class="vw-100 text-end">GALLERY</div></a>
<hr>
<div class="text">
    At Apex Prime Sports, we are committed to nurturing the next generation of 
    Professional Footballers .    
</div>
<br>
<div class="container gradient-bg">
  <mat-expansion-panel class="capsule-panel" hideToggle>
    <mat-expansion-panel-header  class="centered-title">
      <mat-panel-title ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="details"></mat-icon></mat-panel-title>
      <mat-panel-description>
        Training and Development</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Our training curriculum is designed to instill discipline, teamwork, and a winning mindset in our players. Through a combination of drills, exercises, and tactical sessions, athletes will enhance their technical proficiency, tactical awareness, and physical conditioning. With a focus on individual skill development and collective team dynamics, our program prepares players to compete at the highest levels of the game.</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="capsule-panel" hideToggle>
    <mat-expansion-panel-header class="centered-title">
      <mat-panel-title><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="details"></mat-icon>
      </mat-panel-title>
       <mat-panel-description>
        League Matches and Competition</mat-panel-description>
    </mat-expansion-panel-header>
    <p>In addition to training, players will have the opportunity to test their skills in competitive league matches against other teams. These matches provide valuable game-time experience, allowing athletes to apply what they've learned on the training ground in a real-world setting. Our league structure ensures that players are challenged and motivated to perform at their best, fostering a culture of healthy competition and sportsmanship.</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="capsule-panel" hideToggle>
    <mat-expansion-panel-header  class="centered-title">
      <mat-panel-title ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="details"></mat-icon></mat-panel-title>
      <mat-panel-description>
        Guidance and Education Support</mat-panel-description>
    </mat-expansion-panel-header>
    <p>At Apex Prime, we understand that success in football goes beyond the pitch. That's why we provide guidance and support to help players navigate their path to a future in the sports industry. Whether it's pursuing higher education through college scholarships or exploring career opportunities in sports management, our program equips athletes with the tools and resources they need to achieve their goals both on and off the field.</p>
  </mat-expansion-panel>
</div>
<br>
<div class="text" style="font-size: smaller;">
    Join us at Apex Prime Football Development Program and embark on a journey of growth, achievement, and endless possibilities. Together, let's kickstart your football journey and make your dreams a reality.
</div>
</div>



