<div class="container-fluid bg-black text-white vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo" class="img-fluid">
    </div>
    <div class="text-container text-center">
      <h1>Apex Prime Sports</h1>
    </div>
    <div class="level-up-container">
     Level Up
    </div>
  </div>
  <div class="container-fluid bg-light text-white vh-100 d-flex flex-column justify-content-center align-items-center">
    
  </div>